.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.main-navbar{
    margin-top: 40px;
    width: 1380px;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.top-btn{
    /* width: 280px; */
    margin-top: 0px;
   
}
.top-btn-clr{
    border-radius: 8px;
    
    background-color: #f4fffc;
    font-weight: 600;
    font-size: 20;
    padding: 17px 34px;
    border: 1px solid green;
}
.navbar{
    display: flex;
    justify-content: space-between;
}

.text-1{
    font-size: medium;
    color: #424040;
}

.text-2{
    font-size: 56px;
    font-weight: bold;
}
.btn{
    border-radius: 8px;
    
    background-color: #006A50;
    font-weight: 600;
    font-size: 20;
    padding: 17px 34px;
    
}
.father{
    display: flex;
    background-color: #C6E4D6;
    border-radius: 24px;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 40px;
    
    
} 

.child{
    margin: 97px 299px 97px 59px;

}
.img{
   margin-top: 80px;
}
/* section2 */
.pillars-font{
    text-align: left;
}
.pillars-font{
    font-weight: bold;
    font-size: 40px;
}
.pillars-section{
    display: flex;
    gap: 24px;
    /* border-left: 0px; */
    padding: 30px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0px 6px 50px 0px rgb(148, 146, 146);
}
.innovation{
    font-weight: bold;
    font-size: 20px;
    color: #0E0E0E;
}
.peragraph{
    color: #0E0E0E;
    font-weight: 500;
    font-size: 20px;
}
.skills{
    gap: 24px;
    padding: 33px;
    margin: 10px;
    border: 2px solid #D5D6D8;
    border-radius: 10px;
    background-color: #F1F1F3;
    
    
   /* margin-left: 30px;
   margin-right: 20px; */
}
.main-piler-section{
    width: 1440px;
    max-width: auto;

   margin: auto;
   justify-content: center;
}
.vision-heading{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
}
.vision-peragraph{
    font-size: 16px;
    font-weight: 400;
    color: #0E0E0E;
}
.third-section{
    margin: auto;
    width: 1440px;
    
}
.green{
       display: flex; 
       gap: 24px;
       border-radius: 8px;
       align-items: center;

}
.description{
    border: 30px;
    gap: 24px;
    box-shadow: 0px 6px 50px 0px rgb(235, 223, 223);
    width: 400px;
    border-radius: 8px;
}
.btn-2{
    border-radius: 8px;
    
    background-color:  #09A15C;
    font-weight: 500;
    font-size: 16px;
    padding: 17px 34px;
    color: white;
    
}
.btn-3{
    border-radius: 8px;
    
    background-color:#FFC239;
    font-weight: 500;
    font-size: 16px;
    padding: 17px 34px;
    color: white;

}
.btn-1{
    border-radius: 8px;
    color: white;
    
    background-color:#5490F5;
    font-weight: 500;
    font-size: 16px;
    padding: 17px 34px;

}
.color-1{
    background-color: #95b0df;
}
.color-2{
    background-color: #C6E4D6;
}
.color-3{
    background-color: #F7EBCF;
}
.bangladesh{
    background-color: #FFFFFF;
    border: 1px solid rgb(243, 229, 229);
    border-radius: 8px;
    margin-top: 20px;
    width: auto;
    

    /* height: 30px; */

}
.images{
    background-image: url(../B11A1--assignment-1/assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: left top;
  
    
}
.color-5{
    color: #0E0E0E;
    font-size: 20px;
    font-weight: 600;
}
.color-6{
    color: #0E0E0E;
    font-size: 16px;
    font-weight: 500px;

}
.image-1{
    display: flex;
    border-radius: 15px;
    padding: 20px;
    margin: 10px auto;
    background-color: #FFFFFF;
    margin-left: 207px;
    margin-right: 207px;
    border: 16px solid white;
    
   
    
}
.image-2{
    border-radius: 15px;
}
.image-3{
    margin-right: 20px;
    border-radius: 15px;
    padding: 20px;
    margin: 14px;
    
    
}
.image-4{
    font-size: 32px;
    font-weight: bold;
}
.date-time{
    font-size: 16px;
    font-weight: 400;
}
.btn-5{
    color: white;
}
.r-p{
    font-size: 16px;
    font-weight: 400px;
    color: #0E0E0E;
}
.image-7{
    margin-top: 40px;
    margin-right: 200px;
    margin-left: 250px;
}
.image-10{
    display: flex;
    margin-top: 40px;
    margin-right: 200px;
    margin-left: 212px;
    border-radius: 10px;
    border: 15px solid #FFFFFF;
    justify-content: space-around;
}
.image-11{
 display: flex;
 margin-top: 20px;
 border: 2px solid white;
 

}
.center{
    text-align: center;
    margin-left: 357px;
    margin-right: 350px;
    /* border: 40px solid rgb(240, 236, 236); */

}
.taka{
    display: flex;
    justify-content: space-between;
    margin-right: 500px;
    margin-left: 500px;
    border-radius: 16px;
    
    
    
}
.taka-btn{
    border-radius: 20px;
    border:2px solid rgb(247, 242, 242);
    gap: 4px;
    width: 160px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    
}
.taka-btn-2{
    background-color: #C6E4D6;
}
.submit-btn{
    text-align: center;
    margin-top: 20px;
    color: white;
    
}
.others-ammount{
    text-align: center;
    width: 1020px;
    height: 50px;
    background-color:white;
    justify-content: center;
    margin: auto;
    border: 1px solid whitesmoke;
    margin-top: 30px;
   
    
    


}
.taka-11{
  
    /* padding-top: 15px; */
}
